[MAIN]

ignore=tests

[MESSAGE CONTROL]

disable=raw-checker-failed,
bad-inline-option,
locally-disabled,
file-ignored,
suppressed-message,
useless-suppression,
deprecated-pragma,
use-symbolic-message-instead,
missing-module-docstring,
missing-function-docstring,
missing-class-docstring

[FORMAT]
require-blank-line-before-function = yes
require-blank-line-before-class = yes
max-line-length = 80

[REFACTORING]
max-nested-blocks = 2

[DESIGN]
max-statements = 15

[DOCSTRING]
docstring-min-length = 10

[NAMING]
class-naming-style = capitalized
